.page-header {
  padding: 150px 0 100px;
  background: url("/images/header/header-pages/header-pages.png") center / cover no-repeat;
  text-align: center;
}

.page-header-title {
  margin-bottom: 15px;
}

.page-header-title,
.page-header-description {
  color: #fff;
}